@import "./scss/variables";
@import "./scss/login";
@import "./scss/main";
@import "./scss/skin";


.col-md-centerblock{
	float:none;
	display:block;
	margin:0 auto;
}
.col-xs-centerblock{
	@extend .col-md-centerblock
}
.col-sm-centerblock{
	@extend .col-md-centerblock
}
.col-lg-centerblock{
	@extend .col-md-centerblock
}
