<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fx.desk.mapper.ApTablesMapper">
	<resultMap type="apTables" id="apTables">
		<id property="id" column="id" />
		<result property="appId" column="app_id" />
		<result property="appTableName" column="app_table_name" />
		<result property="curTableName" column="cur_table_name" />
	</resultMap>
	<resultMap type="apTablesTime" id="apTablesTime">
		<id property="id" column="id" />
		<result property="appId" column="app_id" />
		<result property="appTableName" column="app_table_name" />
		<result property="appUserId" column="app_user_id" />
		<result property="createAt" column="create_at" />
		<result property="updateAt" column="update_at" />
		<result property="updateTimes" column="update_times" />
	</resultMap>
	
	<select id="getTablesByAppId" parameterType="int" resultMap="apTables">
		SELECT id,app_id,app_table_name,cur_table_name FROM core_ap_tables WHERE app_id = #{appId};
	</select>
	
	<select id="getApTablesTime" parameterType="java.util.Map" resultMap="apTablesTime">
		SELECT id,app_id,app_table_name,app_user_id,create_at,update_at,update_times FROM
		core_ap_tables_time WHERE 1=1
		<if test="appId != null">
			AND app_id = #{appId}
		</if>
		<if test="appTableName != null">
			AND app_table_name = #{appTableName}
		</if>
		<if test="appUserId != null">
			AND app_user_id = #{appUserId}
		</if>
		LIMIT 1
	</select>
	
	<insert id="addApTablesTime" parameterType="apTablesTime" >
		INSERT INTO core_ap_tables_time(
			app_id,
			app_table_name,
			app_user_id,
			create_at,
			update_at,
			update_times
		) VALUES(
			#{appId},
			#{appTableName},
			#{appUserId},
			current_timestamp,
			#{updateAt},
			1
		)
	</insert>
	<update id="updateApTablesTime" parameterType="java.util.Map">
		UPDATE core_ap_tables_time SET
		update_times = update_times + 1
		<if test="updateAt != null">
			,update_at = #{updateAt}
		</if>
		WHERE id = #{id}
	</update>
</mapper>
