<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fx.desk.mapper.OrgUserAppConfigMapper">

	<resultMap type="orgUserAppConfig" id="orgUserAppConfig">
		<id property="id" column="id" />
		<result property="appId" column="app_id" />
		<result property="userId" column="user_id" />
		<result property="isActive" column="is_active" />
		<result property="appAccessToken" column="app_access_token" />
		<result property="appRefreshToken" column="app_refresh_token" />
		<result property="appInstanceUrl" column="app_instance_url" />
		<result property="appUserId" column="app_user_id" />
		<result property="appUserName" column="app_user_name" />
		<result property="appAuthTime" column="app_auth_time" />
	</resultMap>
	
	<select id="getAppConfig" resultMap="orgUserAppConfig" parameterType="java.util.Map">
		SELECT * FROM core_orguserappconfig WHERE user_id = #{userId} AND app_id = #{appId} LIMIT 1;
	</select>
	<insert id="addAppConfig" parameterType="java.util.Map">
		INSERT INTO core_orguserappconfig(
			app_id,
			user_id,
			is_active,
			app_access_token,
			app_refresh_token,
			app_auth_time
			<if test="app_instance_url != null">
				,app_instance_url
			</if>
			<if test="app_user_id != null">
				,app_user_id
			</if>
			<if test="app_user_name != null">
				,app_user_name
			</if>
		)
		VALUES
			(#{app_id},#{user_id},#{is_active},#{app_access_token},#{app_refresh_token},current_timestamp
			<if test="app_instance_url != null">
				,#{app_instance_url}
			</if>
			<if test="app_user_id != null">
				,#{app_user_id}
			</if>
			<if test="app_user_name != null">
				,#{app_user_name}
			</if>
			);
	</insert>
	<update id="updateAppConfig" parameterType="java.util.Map">
		UPDATE core_orguserappconfig
		<set>
			<if test="app_access_token !=null">
				app_access_token = #{app_access_token},
			</if>
			<if test="app_refresh_token !=null">
				app_refresh_token = #{app_refresh_token},
			</if>
			<if test="app_instance_url !=null">
				app_instance_url = #{app_instance_url},
			</if>
			<if test="app_user_id !=null">
				app_user_id = #{app_user_id},
			</if>
			<if test="app_user_name !=null">
				app_user_name = #{app_user_name},
			</if>
			app_auth_time = current_timestamp
		</set>
		WHERE user_id = #{user_id}
		AND app_id = #{app_id}
	</update>
</mapper>
