<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fx.desk.mapper.ApTablesMapper">

	<resultMap type="apTables" id="apTables">
		<id property="id" column="id" />
		<result property="appId" column="app_id" />
		<result property="appTableName" column="app_table_name" />
		<result property="curTableName" column="cur_table_name" />
	</resultMap>

	<select id="getTablesByAppId" parameterType="int" resultMap="apTables">
		SELECT id,app_id,app_table_name,cur_table_name FROM core_ap_tables WHERE app_id = #{appId};
	</select>
</mapper>
